# 🛒 Consumer Behavior Analysis - Retail Data Analytics Project

## 📌 Business Problem Statement
A leading retail company wants to better understand its **customers’ shopping behavior** to improve **sales, customer satisfaction, and long-term loyalty**.  
Management has observed shifts in **purchasing patterns** across demographics, product categories, and sales channels (online vs. offline).

They seek to uncover which factors — such as **discounts, reviews, seasons, or payment preferences** — most influence customer decisions and **repeat purchases**.

### 🎯 Business Question
> **How can the company leverage consumer shopping data to identify trends, improve customer engagement, and optimize marketing and product strategies?**

### 1. 📦 Import Required Libraries

In [46]:
import  pandas as pd

### 2. Load Dataset

In [25]:
df=pd.read_csv('customer_shopping_behavior.csv')
df.head(5)

,Customer ID,Age,Gender,Item Purchased,Category,Purchase Amount (USD),Location,Size,Color,Season,Review Rating,Subscription Status,Shipping Type,Discount Applied,Promo Code Used,Previous Purchases,Payment Method,Frequency of Purchases
0,1,55,Male,Blouse,Clothing,53,Kentucky,L,Gray,Winter,3.1,Yes,Express,Yes,Yes,14,Venmo,Fortnightly
1,2,19,Male,Sweater,Clothing,64,Maine,L,Maroon,Winter,3.1,Yes,Express,Yes,Yes,2,Cash,Fortnightly
2,3,50,Male,Jeans,Clothing,73,Massachusetts,S,Maroon,Spring,3.1,Yes,Free Shipping,Yes,Yes,23,Credit Card,Weekly
3,4,21,Male,Sandals,Footwear,90,Rhode Island,M,Maroon,Spring,3.5,Yes,Next Day Air,Yes,Yes,49,PayPal,Weekly
4,5,45,Male,Blouse,Clothing,49,Oregon,M,Turquoise,Spring,2.7,Yes,Free Shipping,Yes,Yes,31,PayPal,Annually

### 3. 🧾 Checking Dataset Information

In [26]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3900 entries, 0 to 3899
Data columns (total 18 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Customer ID             3900 non-null   int64
 1   Age                     3900 non-null   int64
 2   Gender                  3900 non-null   object
 3   Item Purchased          3900 non-null   object
 4   Category                3900 non-null   object
 5   Purchase Amount (USD)   3900 non-null   int64
 6   Location                3900 non-null   object
 7   Size                    3900 non-null   object
 8   Color                   3900 non-null   object
 9   Season                  3900 non-null   object
 10  Review Rating           3863 non-null   float64
 11  Subscription Status     3900 non-null   object
 12  Shipping Type           3900 non-null   object
 13  Discount Applied        3900 non-null   object
 14  Promo Code Used         3900 non-null   object
 15  Previous Purchases      3900 non-null   int64
 16  Payment Method          3900 non-null   object
 17  Frequency of Purchases  3900 non-null   object
dtypes: float64(1), int64(4), object(13)
memory usage: 548.6+ KB

### 4. 📊 Descriptive Statistics of Dataset

In [27]:
df.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
Customer ID,3900.0,NaN,NaN,NaN,1950.5,1125.977353,1.0,975.75,1950.5,2925.25,3900.0
Age,3900.0,NaN,NaN,NaN,44.068462,15.207589,18.0,31.0,44.0,57.0,70.0
Gender,3900,2,Male,2652,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Item Purchased,3900,25,Blouse,171,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Category,3900,4,Clothing,1737,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Purchase Amount (USD),3900.0,NaN,NaN,NaN,59.764359,23.685392,20.0,39.0,60.0,81.0,100.0
Location,3900,50,Montana,96,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Size,3900,4,M,1755,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Color,3900,25,Olive,177,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Season,3900,4,Spring,999,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Review Rating,3863.0,NaN,NaN,NaN,3.750065,0.716983,2.5,3.1,3.8,4.4,5.0
Subscription Status,3900,2,No,2847,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Shipping Type,3900,6,Free Shipping,675,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Discount Applied,3900,2,No,2223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Promo Code Used,3900,2,No,2223,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Previous Purchases,3900.0,NaN,NaN,NaN,25.351538,14.447125,1.0,13.0,25.0,38.0,50.0
Payment Method,3900,6,PayPal,677,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Frequency of Purchases,3900,7,Every 3 Months,584,NaN,NaN,NaN,NaN,NaN,NaN,NaN

### 5. 🔍 Checking for Missing Values

In [28]:
df.isnull().sum()

Customer ID                0
Age                        0
Gender                     0
Item Purchased             0
Category                   0
Purchase Amount (USD)      0
Location                   0
Size                       0
Color                      0
Season                     0
Review Rating             37
Subscription Status        0
Shipping Type              0
Discount Applied           0
Promo Code Used            0
Previous Purchases         0
Payment Method             0
Frequency of Purchases     0
dtype: int64

### 6. ⭐ Handling Missing Values in Review Ratings

In [29]:
df['Review Rating']=df.groupby('Category')['Review Rating'].transform(lambda x: x.fillna(x.median()))

In [30]:
df.isnull().sum()

Customer ID               0
Age                       0
Gender                    0
Item Purchased            0
Category                  0
Purchase Amount (USD)     0
Location                  0
Size                      0
Color                     0
Season                    0
Review Rating             0
Subscription Status       0
Shipping Type             0
Discount Applied          0
Promo Code Used           0
Previous Purchases        0
Payment Method            0
Frequency of Purchases    0
dtype: int64

### 7. 🏷️ Standardizing Column Names

In [31]:
df.columns=df.columns.str.lower()
df.columns=df.columns.str.replace(' ','_')
df=df.rename(columns={'purchase_amount_(usd)':'purchase_amount'})
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'promo_code_used', 'previous_purchases',
       'payment_method', 'frequency_of_purchases'],
      dtype='object')

### 8. 👥 Creating Age Group Categories

#### 📘 What It Is & Why It’s Used  
This step creates a new column `age_group` that divides customers into **Young Adult, Adult, Middle-Aged, and Senior** based on their age. 
 
It helps **segment customers by age**, analyze **shopping trends and preferences** for each group, and supports **targeted marketing and personalized strategies**.

In [32]:
#create a column age_group
labels=['Young Adult','Adult', 'Middle-Aged','Senior']
df['age_group']=pd.qcut(df['age'],q=4,labels=labels)

In [33]:
df[['age','age_group']].head(10)

   age    age_group
0   55  Middle-Aged
1   19  Young Adult
2   50  Middle-Aged
3   21  Young Adult
4   45  Middle-Aged
5   46  Middle-Aged
6   63       Senior
7   27  Young Adult
8   26  Young Adult
9   57  Middle-Aged

### 9. 📅 Creating Purchase Frequency in Days

#### 📘 What It Is & Why It’s Used  
This step creates a new column `purchase_frequency_days` by converting categorical purchase frequencies (e.g., Weekly, Monthly, Annually) into **numerical days**.  
It allows the company to **quantify how often customers make purchases**, supporting **loyalty analysis, marketing strategies, and sales forecasting**.

In [34]:
df['frequency_of_purchases'].unique()

array(['Fortnightly', 'Weekly', 'Annually', 'Quarterly', 'Bi-Weekly',
       'Monthly', 'Every 3 Months'], dtype=object)

In [35]:
#create a column purchase_frequency_days
frequency_map = {
    'Fortnightly': 14,   # 14 days
    'Weekly': 7,         # 7 days
    'Annually': 365,     # 365 days
    'Quarterly': 90,     # ~90 days
    'Bi-Weekly': 14,    # same as fortnightly (2 weeks)
    'Monthly' : 30,      #30 days
    'Every 3 Months':90 #90 days
}
df['purchase_frequency_days']=df['frequency_of_purchases'].map(frequency_map)

In [36]:
df[['frequency_of_purchases','purchase_frequency_days']].head(10)
df['purchase_frequency_days']=df['purchase_frequency_days'].astype(int)
df[['frequency_of_purchases','purchase_frequency_days']].head(10)

  frequency_of_purchases  purchase_frequency_days
0            Fortnightly                       14
1            Fortnightly                       14
2                 Weekly                        7
3                 Weekly                        7
4               Annually                      365
5                 Weekly                        7
6              Quarterly                       90
7                 Weekly                        7
8               Annually                      365
9              Quarterly                       90

### 10. 🎁 Cleaning Promo Code Column

#### 📘 What It Is & Why It’s Used  
This step compares the `promo_code_used` and `discount_applied` columns and finds them identical, so it **drops the redundant `promo_code_used` column**.  
It simplifies the dataset, making it **cleaner and easier to analyze**.

In [37]:
df[['promo_code_used','discount_applied']].head(10)

  promo_code_used discount_applied
0             Yes              Yes
1             Yes              Yes
2             Yes              Yes
3             Yes              Yes
4             Yes              Yes
5             Yes              Yes
6             Yes              Yes
7             Yes              Yes
8             Yes              Yes
9             Yes              Yes

In [38]:
(df['promo_code_used']==df['discount_applied']).all()

np.True_

In [39]:
df=df.drop('promo_code_used',axis=1)
df.columns

Index(['customer_id', 'age', 'gender', 'item_purchased', 'category',
       'purchase_amount', 'location', 'size', 'color', 'season',
       'review_rating', 'subscription_status', 'shipping_type',
       'discount_applied', 'previous_purchases', 'payment_method',
       'frequency_of_purchases', 'age_group', 'purchase_frequency_days'],
      dtype='object')

In [40]:
df.duplicated().sum()

np.int64(0)

### 11. 🛠️ Installing MySQL Connector

#### 📘 What It Is & Why It’s Used  
`!pip install mysql-connector-python` installs the **MySQL Connector library**, which allows Python to **connect and interact with MySQL databases**.  
It is used to **fetch or store retail data in a MySQL database** for analysis.


### 12. 🛠️ Installing SQLAlchemy

#### 📘 What It Is & Why It’s Used  
`!pip install SQLAlchemy` installs **SQLAlchemy**, a Python library for **database management and operations**.  
It provides a **high-level interface to execute SQL queries**, manage database connections, and work with datasets efficiently.

In [41]:
!pip install mysql-connector-python
!pip install SQLAlchemy

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (9.5.0)

WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages)

Requirement already satisfied: SQLAlchemy in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (2.0.44)
Requirement already satisfied: greenlet>=1 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (3.2.4)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\user\appdata\local\programs\python\python312\lib\site-packages (from SQLAlchemy) (4.12.2)

WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages)
WARNING: Ignoring invalid distribution ~cikit-learn (C:\Users\USER\AppData\Local\Programs\Python\Python312\Lib\site-packages)

### 13. 🖥️ Checking Python Executable Path

#### 📘 What It Is & Why It’s Used  
This code prints the **path of the currently active Python interpreter**.  
It helps ensure that the **correct Python environment** is being used, and that all required libraries are installed and accessible for the project.

In [42]:
import sys
print(sys.executable)

c:\Users\USER\AppData\Local\Programs\Python\Python311\python.exe

### 14. 🛠️ Installing MySQL Connector in Specific Python Environment

#### 📘 What It Is & Why It’s Used  
Installs the **MySQL Connector library** in a **specific Python environment** to ensure database connectivity.  
This avoids conflicts in systems with multiple Python versions and ensures the project can access MySQL databases properly.

In [43]:
!C:\Users\USER\AppData\Local\Programs\Python\Python311\python.exe -m pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\user\appdata\local\programs\python\python311\lib\site-packages (9.5.0)

[notice] A new release of pip is available: 23.1.2 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### 15. ✅ Verifying MySQL Connector Installation

#### 📘 What It Is & Why It’s Used  
This code checks that **`mysql.connector` is properly installed** and working in the current Python environment.  
It confirms that the project can **successfully connect to MySQL databases** for data analysis.

In [44]:
import mysql.connector
print("mysql.connector is installed and working")

mysql.connector is installed and working

### 16. 💾 Uploading Cleaned DataFrame to MySQL

#### 📘 What It Is & Why It’s Used  
This code connects Python to a **MySQL database** and uploads the **cleaned DataFrame** as a table.  
It ensures that the retail data is **stored securely in the database**, ready for **SQL analysis and further processing**.

In [45]:
import pandas as pd
from sqlalchemy import create_engine

# Make sure df is your cleaned DataFrame
# df = df.drop_duplicates()  # you already did this

# MySQL connection details
username = 'root'
password = 'Ranga$2002'
host = 'localhost'
port = '3306'
database = 'customer_behavior'

# Create connection engine using pymysql
engine = create_engine(f"mysql+pymysql://{username}:{password}@{host}:{port}/{database}")

# Upload DataFrame to MySQL safely
df.to_sql(
    name='cleaned_data',   # table name in MySQL
    con=engine,
    if_exists='replace',   # replace table if it exists
    index=False,           # don't write DataFrame index as a column
    chunksize=500          # optional: send in batches of 500 rows
)

print("Data successfully saved to MySQL!")

Data successfully saved to MySQL!

## 🏁 Conclusion

In this project, we **prepared and cleaned a retail consumer dataset** to enable meaningful analysis and insights. Key steps included:  

1. **Importing necessary libraries** like Pandas and SQLAlchemy for data manipulation and database interaction.  
2. **Exploring and understanding the dataset** using `info()`, `describe()`, and checking for missing values.  
3. **Handling missing data** by filling review ratings with category medians and removing redundant columns.  
4. **Standardizing and transforming data** for easier analysis, such as renaming columns, creating `age_group` and `purchase_frequency_days`.  
5. **Connecting to MySQL** and uploading the cleaned DataFrame for **structured storage and SQL-based analysis**.  

These steps ensure the dataset is **accurate, clean, and ready** for deeper analysis, visualizations, and insights generation. The processed data can now be used to:  
- Analyze customer behavior and purchasing patterns  
- Segment customers for targeted marketing  
- Support data-driven business strategies to improve **sales, loyalty, and customer engagement**.